name: PR Title Lint

permissions:
  pull-requests: read

on:
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  lint-pr-title:
    runs-on: ubuntu-latest
    steps:
      - name: Validate PR Title
        uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            cast
            fix
            docs
            style
            revert
            remove
            rename
            release
            refactor
            perf
            test
            build
            ci
            chore
            comment
            HOTFIX
          ignoreLabels: |
            ignore-lint-pr-title
